package {{package}};

{{#imports}}import {{import}};
{{/imports}}
{{#serializableModel}}
	import java.io.Serializable;
{{/serializableModel}}
import com.fasterxml.jackson.annotation.JsonProperty;
import javax.annotation.Generated;

{{#models}}
{{#model}}
{{>notes}}
{{>generatedAnnotation}}
public class {{classname}} {{#parent}}extends {{{parent}}}{{/parent}}{{^parent}}{{#serializableModel}}implements Serializable{{/serializableModel}}{{/parent}} {
{{#serializableModel}}
		private static final long serialVersionUID = 1L;
	{{/serializableModel}}
{{#vars}}
	{{#description}}
	/**
	* {{.}}
	*/
	{{/description}}
	@JsonProperty("{{baseName}}")
	private {{{dataType}}} {{name}}{{#defaultValue}} = {{{.}}}{{/defaultValue}};

{{/vars}}
}
{{/model}}
{{/models}}
