/**
* 商品管理表格配置
*/
export const columns: BasicColumn[] = [
{
title: '名称',
dataIndex: 'name',
},
{
title: '品牌',
dataIndex: 'brand',
},
{
title: '型号',
dataIndex: 'model',
},
{
title: '单位',
dataIndex: 'unit',
},
{
title: '参数',
dataIndex: 'parameters',
},
{
title: '类别',
dataIndex: 'category',
},
{
title: '备注',
dataIndex: 'remark',
},
{
title: '查找码',
dataIndex: 'searchNo',
},
{
title: '编码',
dataIndex: 'code',
},
{
title: '状态',
dataIndex: 'status',
},
];
